name: Build branch

on:
  push:
    branches:
      - "*/**"
    paths-ignore:
      - ".github/workflows/publish*.yaml"
      - "*.md"

concurrency:
  group: build-branch-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_REPOSITORY: timescaledev/timescaledb-ha
  DOCKER_REGISTRY: docker.io
  PLATFORM: amd64
  PG_MAJOR: 15
  ALL_VERSIONS: "true"
  OSS_ONLY: "false"

jobs:
  build-branch:
    name: Build and push branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.ORG_DOCKER_HUB_USERNAME }}
          password: ${{ secrets.ORG_DOCKER_HUB_ACCESS_TOKEN }}

      - name: Setup | Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        run: make build-sha

      - name: Check
        run: make check-sha

      - name: Publish
        run: make publish-sha
