name: Build branch

on:
  push:
    branches:
      - "*/**"
    paths-ignore:
      - ".github/workflows/publish*.yaml"
      - "*.md"

  workflow_dispatch:
    inputs:
      noai:
        required: false
        type: string
        # WIP: should be empty normally, "true" only for this PR
        default: "true"
        description: set to any none-empty value to build without AI packages
      slim:
        required: false
        type: string
        # WIP: should be empty normally, "true" only for this PR
        default: "true"
        description: set to any none-empty value to build a smaller image

concurrency:
  group: build-branch-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_REPOSITORY: timescaledev/timescaledb-ha
  DOCKER_REGISTRY: docker.io
  PG_MAJOR: 17
  ALL_VERSIONS: "true"
  SLIM: ${{ inputs.slim }}
  NOAI: ${{ inputs.noai }}
  OSS_ONLY: "false"

jobs:
  build-branch:
    name: Build and push branch
    runs-on: ${{ matrix.runs_on }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ amd64, arm64 ]
        include:
          - platform: amd64
            runs_on: ubuntu-22.04
          - platform: arm64
            runs_on: cloud-image-runner-arm64

    steps:
      # The github runners have a lot of space in /mnt, but apparently not enough in /. This step removes about 13G.
      - name: remove unneeded runner software
        run: |
          df -h
          du -chs     /usr/share/dotnet /usr/local/lib/android /opt/microsoft || true
          sudo rm -fr /usr/share/dotnet /usr/local/lib/android /opt/microsoft || true
          sudo docker image prune --all --force || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKER_HUB_USERNAME }}
          password: ${{ secrets.ORG_DOCKER_HUB_ACCESS_TOKEN }}

      - name: Setup | Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        env:
          PLATFORM: ${{ matrix.platform }}
        run: make build-sha

      - name: Check
        env:
          PLATFORM: ${{ matrix.platform }}
        run: make check-sha

      - name: Publish
        env:
          PLATFORM: ${{ matrix.platform }}
        run: make publish-sha

  publish-combined-manifest:
    name: Publish branch manifest
    needs: [ "build-branch" ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKER_HUB_USERNAME }}
          password: ${{ secrets.ORG_DOCKER_HUB_ACCESS_TOKEN }}

      - name: Publish combined manifest for branch
        run: make publish-combined-sha
